html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* Main*/
main {
    width: 100%;
    margin-top: 20px; 
    padding-bottom: 60px; 
    min-height: calc(100vh - 20px); 
}

/* Navbar */
.navbar {
    background: linear-gradient(90deg, #1a3c6e, #3b5a99, #5c7ecb);
}

.navbar-brand {
    color: #fff !important;
    font-weight: bold;
    font-size: 3rem !important;
    text-align: center;
}

.text-danger {
    color: #dc3545 !important;
}

/*logo*/
.imgLogo {
    width:250px; 
    margin:auto;
    display:block;
}

.btn-home {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

    .btn-home:hover {
        background-color: #0056b3;
    }


/* Footer */
footer {
    background: linear-gradient(90deg, #1a3c6e, #3b5a99, #5c7ecb);
    color: #fff;
    text-align: center;
    line-height: 60px;
    width: 100%;

}

/* Formulario */
.form-container {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    padding: 2rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 2rem;
    align-items: center;
}
